@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@300;400&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Itim', cursive;
}
nav{
  width: 100%;
  height: 75px;
  background-color: #262626f2;
  line-height: 75px;
  padding: 0px 80px;
}
nav .logo{
  float: left;
}
nav .logo .p{
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #fff;
  text-transform: uppercase;
}
nav ul{
  float: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 20px;
}
nav ul li a:hover{
  color:#ffffff;
}
nav ul .active{
  color:#000000;
}
.checkbtn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  float: right;
  display: none;
}
#check{
  display: none;
}
@media screen and (max-width: 990px){
  nav{
    padding: 0px 50px;
  }
  .checkbtn{
    display: block;
  }
  nav .logo p{
    font-size: 30px;
  }
  nav ul{
    width: 100%;
    height: 100vh;
    background-color: #727272;
    position: fixed;
    top: 75px;
    left: -100%;
    text-align: center;
    transition: 0.4s ease;
  }
  nav ul li{
    display: block;
    margin: 60px 0px;
    line-height: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #eef2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "montserrat", sans-serif;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

div.card {
  width: 280px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px #1b1b1b33;
  margin: 15px;
  transition: all 0.3s;
}

div.card-image {
  width: 100%;
  height: 230px;
  border-radius: 5px 5px 0 0;
}

div.card-image img {
  width: 100%;
  max-width: 100%;
  height: 230px;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s;
}

div.card-description {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 25px;
  
}

div.card-description h3 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

div.card-description p {
  color: #000000;
  font-size: 14px;
  margin-bottom: 16px;
}

div.card-description a {
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

div.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 30px -5px rgba(10, 16, 34, 0.2);
}

div.card-image img:hover {
  opacity: 0.8;
}
